.aside {
  min-width: 15vw;
}

.aside li {
  list-style-type: none;

}

.aside ul {
  padding: 0;
  font-size: smaller;
}



.copyright {
  font-size: 0.7rem;
}

.icon  {
  height:1rem;
}

.rss, .newsLetter {
  color:#0070f3;
}

.blogStart {
  color: #222;
  font-size: 0.9rem;
}

.copyright {
  color: #BBC7CC;
}