.aside {
  min-width: 15vw;
}

.aside li {
  list-style-type: none;

}

.aside ul {
  padding: 0;
  color: #666;
  font-size: smaller;
}

.aside p {
  font-size: smaller;
  color: #666;
}

.copyright {
  font-size: 0.1rem;
}

.icon  {
  height:1rem;
}

.rss, .newsLetter {
  color:#0070f3;
}

.copyright {
  font-size: 4px;
}