.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width:50vw;
  margin:1rem;
}

.headDescription {
  margin-left: 1rem;
}

.headDescription p {
  font-size:smaller;
  margin:0;
}

.headDescription h2 {
  margin: 0;
}

.logo {

}

@media screen and (max-width: 900px) {
  .header {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 1rem;
    margin: 1rem auto 1rem;
    max-width: none;
  }
}