.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color:#222;
}

.logo {
  border-radius: 10px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 3rem;
}

.lightText {
  color: #666;
}

.title {
  font-size: 2rem;
}

.image {
  object-fit: contain;
  width: 20vw !important;
  position: relative !important;
  height: unset !important;
}

.imageFrontPage {
  object-fit: contain;
  width: 10vw !important;
  position: relative !important;
  height: unset !important;
}

@media screen and (max-width: 900px) {
  .imageFrontPage {
    width:40vw !important;
  }

  .image {
    width: 40vw !important;

  }
}